@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');


@font-face {
    font-family: 'reislustnormal';
    src: url('reislust-webfont.woff2') format('woff2'),
         url('reislust-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    position: relative;
    background-image: url("/static/Whangaehubndwdif.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 5.1em;
    font-family: 'Rubik', sans-serif;
}


nav {
    background-color: rgba(0,0,0,0.9);
    max-height: auto;
    line-height: 1;
}

.navbar-dark .navbar-nav .nav-link {
    transition: 0.3s;
    color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    transition: 0.3s;
    font-weight: bold;
    color: #7b16ff;
    transform: translate(3px, 3px);
}

.navbar-brand {
    font-family: 'reislustnormal', cursive;
    font-size: 3.5em;
    font-weight: 500;
    padding: 0;
    background: -webkit-linear-gradient(
    -45deg,    
    #7b16ff, 
    #7b16ff 
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand span{
    box-sizing: border-box;
    transition: 0.3s;
}

a.navbar-brand:-webkit-any-link:focus, ul li a.nav-link:-webkit-any-link:focus {
    outline:none;
}

.navbar-brand span:nth-of-type(1), 
.navbar-brand span:nth-of-type(2),
.navbar-brand span:nth-of-type(7) {
    font-size: 1.25em;
}

.navbar-brand span:nth-of-type(1):hover, 
.navbar-brand span:nth-of-type(2):hover,
.navbar-brand span:nth-of-type(7):hover {
    font-size: 1.20em;
}

.navbar-brand span:nth-of-type(3):hover,
.navbar-brand span:nth-of-type(4):hover,
.navbar-brand span:nth-of-type(5):hover,
.navbar-brand span:nth-of-type(6):hover,
.navbar-brand span:nth-of-type(8):hover,
.navbar-brand span:nth-of-type(9):hover,
.navbar-brand span:nth-of-type(10):hover {
    transition: 0.3s;
    font-size: 1.1em;
}


.navbar li{
    font-family: 'reislustnormal', cursive;
    font-size: 30px;
}

.navbar-toggler:focus {
    outline: none;
    border: 2px solid #7b16ffa0;
    box-shadow: 1px 1px 10px 1px #7b16ffa0;
}

.navbar-toggler:active {
    outline: none;
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px 1px #fff;
}

main {
    position: relative;
    /* height: 100vh; */
    padding-bottom: 10vh;
}

/* #overlay { 
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

#section-one {
    background: rgba(0,0,0,0.9);
    border-top: 3px solid #fff;
}

#section-one #box-one {
    /* background-color: rgba(0,0,0,0.9); */
    margin: 1em;
}

#section-one #box-one p, #section-one #box-two p, #box-two li {
    color: #f0f0f0;
    }

#section-one p b {
    font-weight: 800;
    color: #7b16ff;
}

#section-one #box-one h1 {
    font-family: 'Jost', cursive;
    color: #e0e0e0;
    text-shadow: 3px 3px 5px #7b16ffc0;
    text-align: end;
    font-weight: 700;
}

#section-one #box-two h3 {
    margin-top: 0.5em;
    font-weight: 800;
    font-family: 'Jost', cursive;
    text-shadow: 3px 3px 5px #7b16ffc0;
    color: #f0f0f0;
    text-align: justify;
}

#section-one #box-two {
    align-self: center;
}

#section-one #box-two ul {
    list-style: none;
}

#section-one #box-two ul li::before {
    content: "\f058";
    font-size: larger;
    color: #7b16ff;
    text-shadow: 1px 1px 1px #404040;
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
}

#section-half-one {
    background-color: #fffffff0;
}

#section-half-one .container {
    border-radius: 20px;
    background-color: #f0f0f060;
    transition: 0.4s;
    /* position: relative; */
}

#section-half-one .container:hover {
    background-color: #f0f0f000;
    transition: 0.5s;
}

#section-half-one figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#section-half-one figure img {
    margin-top: 1em;
    height: auto;
    width: 20vh;
    border-radius: 50%;
    transition: 0.4s;
}

#section-half-one figure img:hover {
    transition: 0.4s;
    transform: scale(1.1);
}

/* #section-half-one p {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
} */

#section-half-one h5 {
    font-family: 'Jost', cursive;
    font-weight: 400;
}

#section-half-one .container p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#section-half-one .container h5 {
    text-align: center;
}

#section-half-one .container hr {
    background-color: #7b16ff;
    height: 0.2em;
    border-radius: 10px;
    margin-left: 2em ;
    margin-right: 2em;
}

#section-half-one .container .hr-second {
    background-color: #7b16ff;
    height: 0.1em;
    border-radius: 30px;
    margin-left: 2em ;
    margin-right: 2em;
}

.badge-primary {
    background-color: #7b16ffc8;
}

.fa-linkedin:before {
    color: #7b16ff;
    font-size: larger;
    padding: 0 10px 0 0;
}

.fa-github-square:before {
    color: #7b16ff;
    font-size: larger;
    padding: 0 10px 0 0;
}

#section-half-one li {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#section-half-one li a {
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}

#section-half-one li a:hover {
    color: #7b16ff;
    transition: 0.2s;
}

#section-half-one li a:focus:active {
    color: #7b16ff;
    font-weight: bold;
    text-decoration: none;
}

#section-two {
    background: linear-gradient(
    45deg,
    rgba(0,0,0,0.9) 50vw,
    rgba(123, 22, 255,0.7) 10vw
    );
    border-top: 3px solid #fff;
}

#section-two h1 {
        font-family: 'Jost', cursive;
        color: #202020;
        text-shadow: 3px 3px 5px #e0e0e0;
        text-align: center;
        font-weight: 700;
    }

#section-two #box-three h3 {
    margin-top: 0.5em;
    font-weight: 800;
    font-family: 'Jost', cursive;
    text-shadow: 3px 3px 5px #7b16ffc0;
    color: #f0f0f0;
    text-align: justify;
}

#section-two #box-three p {
    color: #f0f0f0;
    }

#section-two #box-three p span {
        color: #7b16ff;
        font-size: 1.1em;
    }

#section-two #box-three p {
    line-height: 2em;
    }

footer {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 2px solid #7b16ff;
    position: absolute;
    bottom: 0;
}

footer p:nth-of-type(1n) {
    text-align:center;
    font-size: 0.9em;
    color: #7b16ff;
    margin: 0;
}

footer p:nth-of-type(2n) {
    display: none;
}

.fa-tools, .fa-hard-hat{
    color: #7b16ff;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

@media (max-width:768px) {
    .navbar-dark .navbar-nav .nav-link:hover {
        transition: 0.3s;
        color: #7b16ffa0;
    }
    #section-two {
        background: linear-gradient(
        45deg,
        rgba(0,0,0,0.9) 40vw,
        rgba(123, 22, 255,0.7)
        );
    }
    #section-two h1 {
        color:#101010;
        text-shadow: 3px 3px 5px #ffffff;
    }
    footer p:nth-of-type(1n) {
        display: none;
    }

    footer p:nth-of-type(2n) {
        display: inline-block;
        text-align:center;
        font-size: 1em;
        color: #7b16ff;
        margin: 0;
        line-height: 0.9em;
    }
    i.fa-tools, i.fa-hard-hat {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}

@media (max-width:707px) {
    #section-two {
        transition: 0.5s;
        background: linear-gradient(
        45deg,
        rgba(0,0,0,0.9) 55vw,
        rgba(123, 22, 255,0.7)
        );
}

@media (max-width:576px) {
    #section-two #box-three p span {
        text-shadow: 4px 4px 3px #000000;
    } 
}

@media (max-width:460px) {
    .navbar-brand {
        font-size: 3em;
    }
    .navbar-brand span {
        font-size: 1.2em;
    }
    
    body {
        padding-top: 4.5em;
    }
    
    footer p {
        display:none;
    }

    footer {
        font-size: small;
    }
}

@media (max-width:334px) {
    .navbar-brand {
        font-size: 2.2em;
    }
    body {
        padding-top: 3.5em;
    }
}
@media (max-width:311px) {
    .navbar-brand {
        font-size: 2.5em;
    }
    .navbar-brand span {
        font-size: 1em;
    }
    
    body {
        padding-top: 3.9em;
    }

}

