@font-face {
    font-family: 'reislustnormal';
    src: url('reislust-webfont.woff2') format('woff2'),
         url('reislust-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    position: relative;
    font-family: 'reislustnormal', cursive;
    z-index: 2;
    background-image: url("/static/Whangaehubndw.png");
}

nav {
    background-color: rgba(0,0,0,0.9);
    max-height: auto;
    line-height: 1;
}

.navbar-dark .navbar-nav .nav-link {
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    transition: 0.3s;
    background: -webkit-linear-gradient(
        -45deg,    
        #12dd13, 
        #7b16ff 
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate(3px, 3px);
}

.navbar-brand {
    font-family: 'reislustnormal', cursive;
    font-size: 3.5em;
    font-weight: 500;
    padding: 0;
    background: -webkit-linear-gradient(
    -45deg,    
    #12dd13, 
    #7b16ff 
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand span{
    box-sizing: border-box;
    transition: 0.3s;
}

.navbar-brand span:nth-of-type(1), 
.navbar-brand span:nth-of-type(2),
.navbar-brand span:nth-of-type(7) {
    font-size: 1.25em;
}

.navbar-brand span:nth-of-type(1):hover, 
.navbar-brand span:nth-of-type(2):hover,
.navbar-brand span:nth-of-type(7):hover {
    font-size: 1.20em;
}

.navbar-brand span:nth-of-type(3):hover,
.navbar-brand span:nth-of-type(4):hover,
.navbar-brand span:nth-of-type(5):hover,
.navbar-brand span:nth-of-type(6):hover,
.navbar-brand span:nth-of-type(8):hover,
.navbar-brand span:nth-of-type(9):hover,
.navbar-brand span:nth-of-type(10):hover {
    transition: 0.3s;
    font-size: 1.1em;
}


.navbar li{
    font-family: 'reislustnormal', cursive;
    font-size: 30px;
}

.navbar-toggler:focus {
    outline: none;
    border: 2px solid #7b16ffa0;
    box-shadow: 1px 1px 10px 1px #7b16ffa0;
}

.navbar-toggler:active {
    outline: none;
    border: 2px solid #12dd13a0;
    box-shadow: 1px 1px 10px 1px #12dd13a0;
}

main {
    position: relative;
    height: 100vh;
    padding: 1em;
}

#overlay { 
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

h1 {
    font-weight: 700;
    color: #000;
}

#p3 {
    font-family: 'Bad Script', cursive;
}

#p4 {
    font-family: 'Bellota Text', cursive;
}

#p5 {
    font-family: 'Jost', sans-serif;
}

@media (max-width:768px) {
    .navbar-dark .navbar-nav .nav-link:hover {
        transition: 0.3s;
        /* font-weight: bold; */
        color: #7b16ffa0;
        background: -webkit-linear-gradient(
        -45deg,    
        #7b16ffa0,
        #7b16ffa0 
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
    }
}

@media (max-width:460px) {
    .navbar-brand {
        font-size: 3em;
    }
    .navbar-brand span {
        font-size: 1.2em;
    }
}

